{% extends "layout.html" %}

{% block contents %}

{% if projects%}


<br><hr>

<h1>Project-logs(이미지는 아직 못올림)</h1>
<form role="form" method='POST'>
  
  <div class="form-group has-success">
    <label> 프로젝트 목록 </label>
    <select multiple name="project" class="form-control">
    {% for project in projects%}
      <option value="{{project.id}}">
      {{project.id}},
      {{project.title}},
      {{project.description}}
      {{project.date_created}},
      (
        {% for group in project.groups%}
          {{group.title}},
        {% endfor %}
      )
      </option>
    {% endfor %}
    </select>
  </div>
  <div class="form-group has-warning">
    <input type="text" class="form-control"placeholder="유저아이디" name="user_id">
  </div>
  <div class="form-group has-warning">
    <input type="text" class="form-control" placeholder="로그 내용" name="content">
  </div>
  <button type="submit" class="btn btn-default">제출</button>
</form>

{% else %}
  {{'프로젝트 목록이 없습니다.'}}
{% endif %}


<br><hr>


{% endblock%}
