{% extends "layout.html" %}

{% block contents %}


<h1>로그를 남기세요</h1>
<form role="form" enctype="multipart/form-data" method='POST'>
  <div class="form-group has-warning">
    <input type="text" class="form-control" placeholder="로그 제목" name="title">
  </div>
  <div class="form-group has-warning">
    <input type="text" class="form-control" placeholder="로그 내용" name="content">
  </div>
  <div class="form-group has-warning">
    <p>사진 : <input type="file" name="photo"></p>
  </div>
  
  <button type="submit" class="btn btn-default">쓰기</button>
</form>

<hr>

<!-- {% for log in logs%}
    <div>
      {{log.title}} &nbsp;,&nbsp;
      {{log.content}}&nbsp;,&nbsp;
      {{log.project.id}}&nbsp;,&nbsp;
      {{log.user.id}}&nbsp;&nbsp;
      {% if log.file_key%}
      <img src="/show/{{log.file_key}}" width = "100px", height="100px" alt="사진 없음">
      {% else %}
      (사진 없음)
      {% endif%}
    </div>
{% endfor %} -->


{% endblock%}
