{% extends "layout.html" %}

{% block contents %}
<div style=" padding-top: 70px;"></div>
<script>

$ (function(){
  setCategories(1);
  setCategories(2);
  setCategories(3);
  $('#category1_other').hide()
    $('#category2_other').hide()
      $('#category3_other').hide()
   // $('#category1').hide()
    $('#category2').hide()
      $('#category3').hide()    


  $('.selectCategory1').change(function(){
    if ($('.selectCategory1').val() == "Other"){
      $('#category1_other').show()
      $('#category1').hide()
    }
    else if ($('.selectCategory1').val() == "None"){
      setCategories(1);
      $('#category1').hide()
    }
    else{
      $('#category1_other').hide()
      $('#category1').show()
      setCategories(1);
    }
  });

  $('.selectCategory2').change(function(){
    if ($('.selectCategory2').val() == "Other"){
      $('#category2_other').show()
      $('#category2').hide()
    } 
    else if ($('.selectCategory2').val() == "None"){
      setCategories(2);
      $('#category2').hide()
    }
    else{
      $('#category2_other').hide()
      $('#category2').show()
      setCategories(2);
    }
  });

  $('.selectCategory3').change(function(){
    if ($('.selectCategory3').val() == "Other"){
      $('#category3_other').show()
      $('#category3').hide()
    }
    else if ($('.selectCategory3').val() == "None"){
      setCategories(3);
      $('#category3').hide()
    }
    else{
      $('#category3_other').hide()
      $('#category1').show()
      setCategories(3);
    }
  });


})

function setCategories(num){
    var selected = $(".selectCategory" + num + " option:selected").text();

    // 이전꺼 지우는 코드
    $('.showCategory' + num).html('');

    $.each(category[selected], function(index, value){
      if (index == 0)
        $('<option selected></option>').text(category[selected][index]).appendTo($('.showCategory' + num))
      else
        $('<option></option>').text(category[selected][index]).appendTo($('.showCategory' + num))
   })
}

</script>

<h1>Project 생성</h1>
<form role="form" enctype="multipart/form-data"  method='POST'>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="프로젝트 명" name="project_name">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="프로젝트 설명" name="project_desc">
  </div>


  <div class="form-group has-success">
   <label>카테고리1(필수)</label>
   <select  name="group1" class="form-control selectCategory1">
    <option value="Other">Other(기타)</option>
    <option value="Arts" selected>Arts</option>
    <option value="Games">Games</option>
    <option value="Society">Society</option>
    <option value="Business">Business</option>
    <option value="Science">Science</option>
    <option value="Computers">Computers</option>
    <option value="Home">Home</option>
    <option value="Recreation">Recreation</option>
  </select>
  <select id="category1" name="category1" multiple class="form-control showCategory1"></select>
  </div>
   <div class="form-group" id="category1_other">
    <input type="text" class="form-control" placeholder="직접 입력" name="category1_other">
  </div>

   <div class="form-group has-warning">
   <label>카테고리2(옵션)</label>
   <select name="group2" class="form-control selectCategory2">
    <option value="None" selected>None</option>
    <option value="Other">Other(기타)</option>
    <option value="Arts">Arts</option>
    <option value="Games">Games</option>
    <option value="Society">Society</option>
    <option value="Business">Business</option>
    <option value="Science">Science</option>
    <option value="Computers">Computers</option>
    <option value="Home">Home</option>
    <option value="Recreation">Recreation</option>
  </select>
  <select id="category2" name="category2" multiple class="form-control showCategory2"></select>
  </div>
  <div class="form-group" id="category2_other">
    <input type="text" class="form-control" placeholder="직접 입력" name="category2_other">
  </div>

  <div class="form-group has-error">
    <label>카테고리3(옵션)</label>
    <select name="group3" class="form-control selectCategory3">
     <option value="None" selected>None</option>
     <option value="Other">Other(기타)</option>
     <option value="Arts">Arts</option>
     <option value="Games">Games</option>
     <option value="Society">Society</option>
     <option value="Business">Business</option>
     <option value="Science">Science</option>
     <option value="Computers">Computers</option>
     <option value="Home">Home</option>
     <option value="Recreation">Recreation</option>
   </select>
   <select id="category3" name="category3" multiple class="form-control showCategory3"></select>
   </div>
  <div class="form-group" id="category3_other">
    <input type="text" class="form-control" placeholder="직접 입력" name="category3_other">
  </div>

   <div class="form-group has-warning">
     <p>사진 (1메가 이하) : <input type="file" name="photo" Accept="image/*"></p>
   </div>
 
   <button type="submit" class="btn btn-default">제출</button>
</form>

<hr>

<!--여기에 디비 목록 보여주면 되겠다.-->
<!-- <div class="form-group has-success">
    <label> 생성 프로젝트 목록(프로젝트아이디,제목,상세,생성일,그룹(카테고리1,2,3)) </label>
    <select multiple class="form-control">
    {% for project in projects%}
      <option>
      {{project.id}},
      {{project.title}},
      {{project.description}}
      {{project.date_created}},
      (
        {% for group in project.groups%}
          {{group.title}},
        {% endfor %}
      )
      </option>
    {% endfor %}
    </select>
  </div> -->


 <script>
  var category = {
    'None' : [
      'None'
    ],

    '예술': [
      '미학',
      '애니메이션',
      '골동품',
      '건축',
      '예술사',
      '고전연구',
      '만화',
      '코스츔',
      '공예',
      '춤',
      '디자인',
      '디지털',
      '엔터테인먼트',
      '그래픽 디자인',
      '인류학',
      '삽화',
      '문학',
      '영화',
      '음악',
      '행위예술',
      '사진',
      '라디오',
      '수사학',
      '텔레비전',
      '타이포그라피',
      '비디오',
      '시각예술'
    ],

    '게임' : [
      '보드 게임',
      '온라인게임',  
      '전략시뮬레이션',
      '퍼즐',  
      '롤플레잉',
      '비디오게임'
      ],

    '사회': [
      '행동주의',
      '조언',
      '범죄',
      '죽음',
      '장애',
      '경제',
      '교육',
      '도덕',
      '미래',
      '정부',
      '역사',
      '이슈',
      '언어',
      '법',
      '군대',
      '조직',
      '초자연적 현상',
      '사람',
      '철학',
      '정치',
      '관계',
      '종교',
      '사회과학',
      '여성',
      '일'
    ],

    '비즈니스' : [
      '회계 ',
      '기업과 사회',
      '교육과 훈련',
      '정보 서비스',
      '국제무역과 경영관리',
      '경영',
      '마케팅과 광고' 
    ],

    '과학' : [
      '변칙과 대체 과학',
      '천문학',
      '생물학',
      '화학',
      '컴퓨터 과학',
      '지구과학',
      '환경',
      '수학',
      '물리학',
      '사회과학',
      '기술',
      '여성'
    ],

    '컴퓨터' : [

      '컴퓨터 과학',
      '하드웨어',
      '인터넷',
      '보안',
      '소프트웨어',
      '시스템',
      '알고리즘',
      '인공지능',
      '인공 생명',  
      'CAD and CAM',
      '컴퓨터 과학기술 법', 
      '데이터 통신', 
      '자료포멧', 
      '탁상 출판',
      'E-Books',
      'Emulators', 
      '게임', 
      '그래픽스', 
      '해킹',  
      '가정 자동화', 
      '인간-컴퓨터 상호 작용 ',
      '인트라넷',
      '모바일 컴퓨팅',  
      '멀티미디어', 
      '뉴스그룹', 
      '오픈 소스', 
      '운영체제', 
      '병렬 컴퓨팅', 
      'Performance and Capacity',
      '프로그래밍',
      '로보틱스', 
      'Speech Technology', 
      '가상 현실', 
      'Chats and Forums', 
      'Companies',
      '강연',  
      '디렉토리', 
      '교육', 
      '취업', 
      '윤리', 
      '역사', 
      '뉴스 미디어',
      '조직', 
      '상품 지원', 
      '쇼핑' 
    ],

    'Recreation' : [
        '오디오',
        '조류 관찰',
        '보트',
        '캠프 ',
        '등산',
        '수집',
        '낚시',
        '음식',
        '겜블링',
        '게임',
        '원예',
        '하이킹',
        '점성술',
        '유머',
        '사냥',
        '역사 ',
        '예술',
        '모델',
        '모터사이클',
        '파티',
        '애완동물',
        '영상물 등급',
        '라디오',
        '스쿠버 다이빙',
        '테마 파크',
        '기차',
        '여행'
      ]

  };
  </script>
{% endblock%}