{% extends "layout.html" %}

{% block contents %}

<h1>Comments</h1>
<form role="form" method='POST'>
  <!--원래는 프로젝트가 보여야되고 프로젝트 누르면 로그가 나와야대고-->
  <div class="form-group has-success">
    <label> 로그 목록 (제목,내용,프로젝트아이디,유저아이디) </label>
    <select name="log_id" multiple class="form-control">
    {% for log in logs %}
      <option value="{{log.id}}">
      {{log.title}} &nbsp;,&nbsp;
      {{log.content}}&nbsp;,&nbsp;
      {{log.project.id}}&nbsp;,&nbsp;
      {{log.user.id}}&nbsp;&nbsp;
      </option>
    {% endfor %}
    </select>
  </div>

  <div class="form-group has-success">
    <label> 로그 쓸 유저 선택 </label>
    <select name="user_id" multiple class="form-control">
    {% for user in users%}
      <option value="{{user.id}}">
      {{user.id}} &nbsp;,&nbsp;
      {{user.name}}&nbsp;,&nbsp;
      {{user.join_date}}
      </option>
    {% endfor %}
    </select>
  </div>
  
  <div class="radio">
    <label>
      <input type="radio" name="islike" value="like_with_feed">추천과 피드백
    </label>
  </div>
  <div class="radio">
    <label>
      <input type="radio" name="islike" value="just_feed">피드백만
    </label>
  </div>
  <div class="form-group has-error">
    <input type="text" class="form-control" placeholder="내용" name="content">
  </div>
  <button type="submit" class="btn btn-default">제출</button>
</form>


<hr>

{% if comments %}
<div class="form-group has-success">
    <label> 커멘트 목록 (커멘트아이디,로그아이디,유저아이디,내용,추천?) </label>
    <select multiple class="form-control">
    {% for comment in comments %}
      <option>
      {{comment.id}}&nbsp;,&nbsp;
      {{comment.log.id}} &nbsp;,&nbsp;
      {{comment.user.id}}&nbsp;,&nbsp;
      {{comment.content}}&nbsp;,&nbsp;
      {{comment.is_like}}&nbsp;&nbsp;
      </option>
    {% endfor %}
    </select>
  </div>
{% endif %}

{% endblock%}