{% extends "layout.html" %}

{% block contents %}

    각 기능 별 테스트 페이지.

    어떤 항목 하나라도 빠뜨리면 bad request가 납니다.
    (아직 예외처리 안함.)


    <br>
    <hr>

    <h1>테스트 1. 특정 유저가 어떤 그룹과 관계가 있는가.</h1>
	<form role="form" method='POST'>
	  <div class="form-group has-success">
	    <label>유저 선택 </label>
	    <select name="user_id" multiple class="form-control">
	    {% for user in users%}
	      <option value="{{user.id}}">
	      {{user.id}} &nbsp;,&nbsp;
	      {{user.name}}&nbsp;,&nbsp;
	      {{user.join_date}}
	      </option>
	    {% endfor %}
	    </select>
	  </div>

	  <button type="submit" class="btn btn-default">제출</button>
	</form>
	
	<hr>
	{% for group_title in group_list%}
		<h5>{{group_title}}</h5>
	{% endfor %}
  
{% endblock %}