{% extends "layout.html" %}

{% block contents %}

    각 기능 별 테스트 페이지.

    어떤 항목 하나라도 빠뜨리면 bad request가 납니다.
    (아직 예외처리 안함.)


    <br>
    <hr>

    <h1>테스트 1. 특정 유저가 어떤 그룹과 관계가 있는가.</h1>
	<form role="form" method='POST'>
		<input type="hidden" value="test1" name="hidden_val"/>
	  <div class="form-group has-success">
	    <label>유저 선택 </label>
	    <select name="user_id" multiple class="form-control">
	    {% for user in users%}
	      <option value="{{user.id}}">
	      {{user.id}} &nbsp;,&nbsp;
	      {{user.name}}&nbsp;,&nbsp;
	      {{user.join_date}}
	      </option>
	    {% endfor %}
	    </select>
	  </div>

	  <button type="submit" class="btn btn-default">제출</button>
	</form>
	
	<hr>
	{% for group_title in group_list%}
		<h5>{{group_title}}</h5>
	{% endfor %}

	
	<br>
    <hr>

	<h1>테스트 2. 특정 프로젝트는 어떤 유저들에게 추천을 받았는가?</h1>
	<form role="form" method='POST'>
		<input type="hidden" value="test2" name="hidden_val"/>
	  <div class="form-group has-success">
	    <label>프로젝트 선택 </label>
	    <select name="project_id" multiple class="form-control">
	    {% for project in projects%}
	      <option value="{{project.id}}">
	      {{project.id}} &nbsp;,&nbsp;
	      {{project.title}}&nbsp;,&nbsp;
	      {{project.description}}
	      </option>
	    {% endfor %}
	    </select>
	  </div>

	  <button type="submit" class="btn btn-default">제출</button>
	</form>

	<hr>
	{% for user_id in user_list%}
		<h5>{{user_id}}</h5>
	{% else %}
		연관된 유저가 없습니다
	{% endfor %}
  
{% endblock %}